.app-wrapper {
    padding: 3rem;
}

.app-wrapper>* {
    margin-bottom: 1.5rem;
}

.app-title {
    font-weight: 700;
    opacity: 0.9;
}

.btn {
    font-weight: 500;
}

.btn-outline-secondary {
    color: black;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: rgba(128, 128, 128, 0.15);
}

.btn-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.form-btn {
    margin: 0.8rem;
    align-self: flex-end;
    width: 6rem;
}

.action-td {
    justify-content: center;
    display: flex;
    gap: 0.5rem;
}

.action-th {
    text-align: center;
}

.btn-back {
    position: absolute;
    left: 3rem;
    top: 2rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.form-wrapper>* {
    width: 18rem;
}

.form-title {
    text-align: center;
    margin-bottom: 2rem;
}

.margin-bot {
    margin-bottom: 2rem;
}

.firma-th {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addFirma-form {
    display: flex;
    flex-direction: row;
}

.addFirma-form>input {
    width: 70%;
}

.addFirma-form>button {
    width: 25%;
}

.top-space {
    margin-top: 3rem;
}

@media only screen and (max-width: 600px) {
    .app-wrapper {
        padding: 2rem 1rem;
    }
}